# Directories
.vs/
bin/
bin-int/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln

# Exclude
!vendor/bin

# Exported Images
RayTracing/export/*

# Scenes not default
RayTracing/scenes/*
!RayTracing/scenes/Default.yaml
/RayTracing/settings/Renderer.yaml
